<section class = "">

    <section class="container">
        <div class="hero-text">
            <h1>Hi!<br> I am Itracker</h1>
            <p>I am sensitive and can tell you thinks you'd easily forget. I can keep track of your bills and I can
                also
                help you become more productive. Trust me! I know what I'm talking about <br>Just let me do the
                maths!
            </p>

        </div>
        <div class="wave">

        </div>

    </section>
    <section class="container1">
        <div class="heading1">
            <h2>WHAT CAN I DO?</h2>
        </div>
        <section class="first">

            <div class="col-6">
                <img src="/src/assets/images/illustrations/3.svg" alt="">
            </div>

            <div class="col-6 col-right">

                <p> <i class="fa fa-tint" aria-hidden="true"></i>
                    I can calculate all your Water bills</p>
                <p> <i class="fa fa-line-chart" aria-hidden="true"></i>
                    I can give you the statistics of your daily, weekly, monthly and yearly expenditures</p>
                <p> <i class="fa fa-mobile" aria-hidden="true"></i>
                    I can calculate all your Phone bills</p>

                <p> <i class="fa fa-arrow-down" aria-hidden="true"></i>
                    I can tell you what to do to cut down your expenditure on a small and large scale as well</p>
                <p> <i class="fa fa-bolt" aria-hidden="true"></i>
                    I can calculate all your Electric bills</p>
            </div>
        </section>

    </section>
    <section class="container1">
        <div class="heading1">
            <h2>HOW DO I PERFORM THE MAGIC?</h2>
        </div>
        <section class=" second">

            <div class="col-left">
                <h2>PHONE BILLS</h2>
                <p> <i class="fa fa-tint" aria-hidden="true"></i>
                    I can calculate all your Water bills</p>
                <p> <i class="fa fa-line-chart" aria-hidden="true"></i>
                    I can give you the statistics of your daily, weekly, monthly and yearly expenditures</p>
                <p> <i class="fa fa-mobile" aria-hidden="true"></i>
                    I can calculate all your Phone bills</p>

                <p> <i class="fa fa-arrow-down" aria-hidden="true"></i>
                    I can tell you what to do to cut down your expenditure on a small and large scale as well</p>
                <p> <i class="fa fa-bolt" aria-hidden="true"></i>
                    I can calculate all your Electric bills</p>
            </div>
            <div class="col-img-right">
                <img src="src/assets/images/illustrations/12.svg" alt="">
            </div>

        </section>

    </section>


  
</section>